.registerContainer {
    margin: 0 auto;
    background-color: #7f70f5;
    height: 500px;
    width: 400px;
    border-radius: 30px;
    text-align: center;
}

.h1Style {
    text-align: center;
    padding-top: 30px;
    color: #ffffff;
}

.registerButton {
    background-color: #ffffff;
    color: #626a69;
    font-size: 20px;
    margin-top: 10px;
}
